html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #F5F5F5;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0;
  text-align: center;

  background-color: rgba(90, 220, 140, 0.4);
  color: #444;

  height: 120px;    /* height value must correspond with section.top */
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

/* ------ CONTENT AREA ------ */

#content {
  position: absolute;
  top: 110px;       /* corresponds to #header.height */
  left: 0;
  right: 0;
  bottom: 0;       /* corresponds to 20 + footer.height */
}

#main, #sidebar {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 10px;
  overflow: auto;
}

#main {
  padding-left: 1em;
}

#sidebar {
  right: 0;
  border-left: 1px solid #D6D6D6;
  background: white;
  background-color: #F9F9F9;
  padding: 10px;
  width: 70ex;
}

/** ---------------- **/

#data_obj span {
  cursor: pointer;
  color: blue;
}

#data_obj span.typeinfo {
  color: rgba(0,0,0,0.2);
}

#data_obj span.typeinfo:hover {
  color: black;
}

/** ---------------- **/

#hexcode .data pre {
  display: inline-block;
  vertical-align: top;
}

#hexcode header {
  position: fixed;
  top: 120px;
  height: 1.25em;
  background-color: #F9F9F9;
}

#hexcode header * {
  display: inline-block;
  margin: 0;
}

#gutter {
}

#gutter, #hexcode .spacer {
  width: 12ex;
}

#lines {
  color: #666;
}

#lines span {
  background-color: yellow;
  color: blue;
}